<html>
<head>
<link rel="stylesheet" href='/static/index-style.css' />
</head>
<body>
  <script src="{{url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
  <h1>Hello from a template!</h1>
  <button type="button" value="Google" onclick="button1(this)">Google</button>
  <button type="button" value="RF" onclick="send_button(this)">Send</button>
  <button type="button" value="Flask" onclick="flask(this)">Flask</button>
  <script>
    var serverResponse;

    function button1() {
      window.location.replace("https://www.google.com");
    }

    function send_button(objButton) {
      // var fired_button = ($("button").val());
      alert(objButton.value);
    }

    function flask(objButton) {
      var data = {'button': objButton.value};
      serverResponse = $.post("/postmethod", data);
    }
  </script>
</body>
</html>
